:root {
  --black: 0 0% 0%;
  --white: 0 100% 100%;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: "Rubik", sans-serif;
}

ul {
  list-style: none;
}
